@media (prefers-color-scheme: light) {
    .mdata {
        box-shadow: .0rem .0rem .2rem rgba(0, 0, 0, 0.25);
    }

    td {
        border-bottom: .1rem solid #ddd;
    }
    th {
        background-color: red;
    }
}
/*dark*/
@media (prefers-color-scheme: dark) {
    .mdata {
        box-shadow: .0rem .0rem .2rem rgba(255, 255, 255, 0.25);
    }

    table {
        color: white;
    }

    td {
        border-bottom: .1rem solid rgba(237, 237, 237, 0.25);
        
    }
    th {
        background-color: #800000;
    }

    input[type="text"] {
        background-color: #181818;
        color: white;
    }

    textarea {
        background-color: #181818;
        color: white;
    }
}
/*Design*/
table {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

tr {
    text-align: left
}

th {
    color:white;
    font-size: 2.5rem;
    width: 20.0rem;
    padding: 1.5rem;
}

td {
    font-size: 2.0rem;
    padding: 1.5rem;
    text-align: left;
}
u{
    font-family:Arial;
    font-size:3.0rem;
    text-decoration:none;
}