@import url('https://fonts.googleapis.com/css?family=Damion|Muli:400,600');
/*light*/
@media (prefers-color-scheme: light) {
    .block {
        box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
    }
    .card {
        box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
    }
        .card:hover {
            box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
        }

    .card__title {
        color: #ffffff;
    }
    .card__apply {
        color: rgba(255, 255, 255, 0.6);
    }
}
/*dark*/
@media (prefers-color-scheme: dark) {
    .block {
        box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.25);
    }

    .card {
        box-shadow: 0px 6px 10px rgba(255, 255, 255, 0.25);
    }

        .card:hover {
            box-shadow: 0px 6px 10px rgba(255, 255, 255, 0.4);
        }

    .card__title {
        color: #181818;
    }

    .card__apply>a {
        color: rgba(0,0,0, 0.6);
    }
}
/*design*/
.block
{   left:inherit;
   display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 10px;
  padding: 10px;
  width: 97%;
  display: grid;
  border-radius: 10px;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  margin: 20px;
  padding: 20px;
  width: 300px;
  min-height: 200px;
  display: grid;
  grid-template-rows: 20px 50px 1fr 50px;
  border-radius: 10px;
  transition: all 0.2s;
}

.card:hover {
  transform: scale(1.01);
}

.card__title {
  grid-row: 3/4;
  font-weight:300;
}  

.card__apply {
  grid-row: 4/5;
  font-weight:300;
  transition: all 0.5s;
}

.card-1,.card-4,.card-7,.card-10 {
  background: radial-gradient( #ee9ca7 , #ffdde1);
}
.card-2,.card-5,.card-8,.card-11 {
  background: radial-gradient( #02aab0 , #00cdac);
}

.card-3,.card-6,.card-9,.card-12 {
  background: radial-gradient( #36d1dc , #5b86e5);
}
