@import url('https://fonts.googleapis.com/css?family=Damion|Muli:400,600');
/*Light*/
@media (prefers-color-scheme: light) {
    .block {
        box-shadow: 0rem 0rem .2rem rgba(0, 0, 0, 0.25);
    }


    .card {
        box-shadow: 0rem 6rem 1.0rem rgba(0, 0, 0, 0.25);
    }

        .card:hover {
            box-shadow: 0rem 6rem 1.0rem rgba(0, 0, 0, 0.4);
        }

    .card__title {
        color: #ffffff;
    }

    .card__apply {
        color: rgba(255, 255, 255, 0.9);
    }

    .card-1 {
        background: radial-gradient(#1fe4f5, #3fbafe);
    }
}
/*Dark*/
@media (prefers-color-scheme: dark) {
    .block {
        box-shadow: 0rem 0rem .2rem rgba(255, 255, 255, 0.25);
    }


    .card {
        box-shadow: 0rem .6rem 1.0rem rgba(237, 237, 237, 0.25);
    }

        .card:hover {
            box-shadow: 0rem .6rem 1.0rem rgba(255, 255, 255, 0.4);
        }

    .card__title {
        color: #ededed;
    }

    .card__apply {
        color: rgba(237, 237, 237, 0.9);
    }

    .card-1 {
        background: radial-gradient(#000080,#002366 );
    }
}

/*Design*/
.block {
    align-content: center;
    margin: 1.0rem;
    padding: 1.0rem;
    width: 97.8%;
    display: grid;
    border-radius: 1.0rem;
}


.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: left;
}

.card {
    margin: 2.0rem;
    padding: 2.0rem;
    
    min-height: 15.0rem;
    display: grid;
    grid-template-rows: 1.0rem 1.0rem 1fr 3.0rem;
    border-radius: 1.0rem;
    transition: all 0.2s;
}

    .card:hover {
        transform: scale(1.05);
        z-index: 2;
    }

.card__title {
    grid-row: 3/4;
    font-weight: 300;
}



.card__apply {
    grid-row: 4/5;
    font-weight: 300;
    transition: all 0.5s;
}
