@import url('https://fonts.googleapis.com/css?family=Damion|Muli:400,600');
/*light*/
@media (prefers-color-scheme: light) {
    .block {
       
        box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
    }

    .sidenav{
        border-block-color:black;
    }
        .sidenav ul li, .sidenav a {
            
            color: black;
    
        }
}
/*dark*/
@media (prefers-color-scheme: dark) {
    .block {
        box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.25);
    }

    .sidenav {
        border-color: rgba(237, 237, 237, 0.25);
    }

        .sidenav ul li, .sidenav a {
            color: white;
        }
}
/*design*/
.block
{ 
   align-content: center; 
  margin: 10px;
  padding: 10px;
  width: 97%;
  display: grid;
  border-radius: 10px;

}
.container
 {
               display : flex;
              flex-direction : row;
               
            }
.sidenav
{
     width :inherit;
     border-style:solid;
     border-bottom-width:0px;
     border-top-width:0px;
     border-left-width:0px;
     border-right-width:1px;
 }
.sidenav ul li,.sidenav a
{
    padding:5px;
    display:block;
    text-decoration: none;
    list-style: none;
    margin:10px 7px;
    text-align:left;
    font-size:20px;
}
.data
{ 
    margin:10px;
    padding:5px;
}
.sidenav ul li:hover,.sidenav a:hover
{
    transform: scale(1.05);
}