@import url('https://fonts.googleapis.com/css?family=Damion|Muli:400,600');
/*light*/
@media (prefers-color-scheme: light) {
    .block {
       
        box-shadow: .0rem .0rem .2rem rgba(0, 0, 0, 0.25);
    }

    .sidenav {
        border-color:rgba(0,0,0,0.25);
    }
        .sidenav ul li, .sidenav a {
            
            color: black;
    
        }
}
/*dark*/
@media (prefers-color-scheme: dark) {
    .block {
        box-shadow: .0rem .0rem .2rem rgba(255, 255, 255, 0.25);
    }

    .sidenav{
        border-color: rgba(255,255,255,0.25);
    }

        .sidenav ul li, .sidenav a {
            color: white;
        }
}
/*design*/
.block {
    align-content: center;
    margin: 20px;

    padding: 10px;
    width: auto;
    display: grid;
    border-radius: 10px;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

.d
{   overflow:auto;
    margin:10px;
    padding: 5px;
    flex-grow:1;
}
