@import url('https://fonts.googleapis.com/css?family=Damion|Muli:400,600');
/*light*/
@media (prefers-color-scheme: light) {
    .updatetab, .updatebox,.detail {
        box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
    }
    th {
        color: white;
        background: red;
    }
    td {
        border-bottom: 1px solid #ddd;
    }

}
/*dark*/
@media (prefers-color-scheme: dark) {
    html{
        color:white;
    }
    .updatetab, .updatebox,.detail {
        box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.25);
    }

    table {
        color: white;
    }
    th {
        color: white;
        background: maroon;
    }
    td {
        border-bottom: 1px solid rgba(237, 237, 237, 0.25);
    }

    input[type="text"], input[type="number"], input[type="date"], input[type="time"] {
        background-color: #181818;
        color: white;
    }

    textarea {
        background-color: #181818;
        color: white;
    }
}
/*Design*/
.d{ 
    flex-grow:1;
    display:flex;
    flex-wrap:wrap-reverse;
    justify-content:space-evenly;
}
.block1 {
    left: inherit;
    margin:0 10px 0 0;
    width:710px;
    border-radius: 10px;
}
.updatebox, .updatetab {
    padding:2px;
    border-radius: 10px;
    font-size: 20px;
}
    .updatebox{
        margin-bottom: 10px;
    }
    .detail {
        flex-grow: 1;
        margin:1px;
        padding:2px;
        border-radius: 10px;
        font-size: 20px;
    }
table {
    width: 100%;
}
th{
    text-align:center;
}
td {
    font-size: 20px;
    
    padding: 15px;
    text-align: left;
}
table span{
    font-size:15px;
}
input[type="text"], input[type="number"] {
    border: 1px solid Red;
    border-radius: 5px;
    padding: 5px;
    font: 15px/24px 'Muli', sans-serif;
    width: 400px;
    letter-spacing: 1px;
      
}

    input[type="text"]:disabled, input[type="number"]:disabled, textarea:disabled, input[type="submit"]:disabled {
        opacity: 0.7;
        cursor: no-drop;
    }



textarea {
    border: 1px solid Red;
    border-radius: 5px;
    padding: 5px;
    font: 15px/24px 'Muli', sans-serif;
    height: 150px;
    width: 410px;
    box-sizing: border-box;
    letter-spacing: 1px;
    resize: none;
      
}

input[type="submit"] {
    border-style: none;
    border-color: inherit;
    border-width: medium;
    outline: none;
    background: #ff4545;
    cursor: pointer;
    border-radius: 4px;
    font-weight: 600;
    padding:0 10px 0 10px;
    color:white;
}

    input[type="submit"]:active {
        opacity: 0.8;
    }

    input[type="submit"]:hover {
        background: #D10000;
    }
.updatebox{
    padding:10px;
}

@media (max-width: 680px) {
    .block1, .block, .d {
        margin: 0;
    }

    .block1 {
        
    }
    .updatetab {
        padding: 10px;
    }
    block {
        padding: 0;
    }

        td {
            width: 15px;
            overflow: hidden;
            padding: 15px 0 15px 0;
        }

        input[type="text"], input[type="number"], input[type="password"] {
            width: 47vw;
        }

        textarea {
            width: 49vw;
        }
    }