@import url('https://fonts.googleapis.com/css?family=Damion|Muli:400,600');
/*light*/
@media (prefers-color-scheme: light) {
    .updatetab, .updatebox,.detail {
        box-shadow: .0rem .0rem .2rem rgba(0, 0, 0, 0.25);
    }
    th {
        color: white;
        background: red;
    }
    td {
        border-bottom: .1rem solid #ddd;
    }

}
/*dark*/
@media (prefers-color-scheme: dark) {
    html{
        color:white;
    }
    .updatetab, .updatebox,.detail {
        box-shadow: .0rem .0rem .2rem rgba(255, 255, 255, 0.25);
    }

    table {
        color: white;
    }
    th {
        color: white;
        background: maroon;
    }
    td {
        border-bottom: .1rem solid rgba(237, 237, 237, 0.25);
    }

    input[type="text"], input[type="number"], input[type="date"], input[type="time"] {
        background-color: #181818;
        color: white;
    }
}
    textarea {
        background-color: #181818;
        color: white;
    }
}
/*Design*/
.d{ 
    flex-grow:1;
    display:flex;
    flex-wrap:wrap-reverse;
    justify-content:space-evenly;
}
.block1 {
    left: inherit;
    margin: 1.0rem;
    width:75rem;
    border-radius: 1.0rem;
}
.updatebox, .updatetab {

    padding: 2rem;
    border-radius: 1.0rem;
    font-size: 2.0rem;
}
    .updatebox{
        margin-bottom:1rem;
    }
    .detail {
        flex-grow: 1;
        margin: 1rem;
        padding: 2rem;
        border-radius: 1.0rem;
        font-size: 2.0rem;
    }
table {
    width: 100%;
}
th{
    text-align:center;
}
td {
    font-size: 2.0rem;
    
    padding: 1.5rem;
    text-align: left;
}
table span{
    font-size:1.5rem;
}
input[type="text"], input[type="number"] {
    border: .1rem solid Red;
    border-radius: .5rem;
    padding: .5rem;
    font: 1.5rem/2.4rem 'Muli', sans-serif;
    width: 40.0rem;
    letter-spacing: .1rem;
      
}

    input[type="text"]:disabled, input[type="number"]:disabled, textarea:disabled, input[type="submit"]:disabled {
        opacity: 0.7;
        cursor: no-drop;
    }



textarea {
    border: .1rem solid Red;
    border-radius: .5rem;
    padding: .5rem;
    font: 1.5rem/2.4rem 'Muli', sans-serif;
    height: 15.0rem;
    width: 41rem;
    box-sizing: border-box;
    letter-spacing: .1rem;
    resize: none;
      
}

input[type="submit"] {
    border-style: none;
    border-color: inherit;
    border-width: medium;
    outline: none;
    background: #ff4545;
    cursor: pointer;
    border-radius: .4rem;
    font-weight: 600;
    padding: 1.1rem 4.5rem;
    color:white;
}

    input[type="submit"]:active {
        opacity: 0.8;
    }

    input[type="submit"]:hover {
        background: #D10000;
    }
