@import url('https://fonts.googleapis.com/css?family=Damion|Muli:400,600');
/*light*/
@media (prefers-color-scheme: light) {
    .block {

        box-shadow: .0rem .0rem .2rem rgba(0, 0, 0, 0.25);
    }

    td {

        border-bottom: .1rem solid #ddd;
    }
    table a{
        color:black;
    }
}
/*dark*/
@media (prefers-color-scheme: dark) {
    .block {
        box-shadow: .0rem .0rem .2rem rgba(255, 255, 255, 0.25);
    }
    table {
        color: white;
    }
    td {
        border-bottom: .1rem solid rgba(237, 237, 237, 0.25);
    }
    input[type="text"], input[type="number"], input[type="password"] {
        background-color: #181818;
        color: white;
    }
    table a {
        color: white;
    }
    textarea {
        background-color: #181818;
        color: white;
    }

}
/*Design*/
.block
{   left:inherit;
  flex-wrap: wrap;
  margin: 1.0rem;
  padding: 1.0rem;
  width: 65.0rem;
  border-radius: 1.0rem;

}
table
{
    text-align:center;
}
td 
{   font-size:2.0rem;
    width:20.0rem;
     padding: 1.5rem;
    text-align: left;
}
table span {
    font-size: 1.5rem;
    color:red;
}
input[type="text"], input[type="number"], input[type="password"] {
    border: .1rem solid Red;
    border-radius: .5rem;
    padding: .5rem;
    font: 1.5rem/2.4rem 'Muli', sans-serif;
    width: 30.0rem;
    letter-spacing: .1rem;
}
    input[type="text"]:disabled, input[type="number"]:disabled, input[type="password"]:disabled {
        cursor: no-drop;
    }
textarea {
    border: .1rem solid Red;
    border-radius: .5rem;
    padding: .5rem;
    font: 1.5rem/2.4rem 'Muli', sans-serif;
    height: 15.0rem;
    width: 31.5rem;
    box-sizing: border-box;
    letter-spacing: .1rem;
    resize: none;
  
}
    textarea:disabled {
        cursor: no-drop;
    }

    input[type="submit"] {
        border: none;
        outline: none;
        padding: 1.1rem 2.5rem;
        background: #ff4545;
        cursor: pointer;
        border-radius: .4rem;
        font-weight: 600;
        min-width:10rem;
        max-width: 20rem;
        color:white;
    }
input[type="submit"]:active 
{
	opacity: 0.8;
}
        input[type="submit"]:hover {
            background: #D10000;
        }
 .profile {
    font-size: 1.7rem;
    font-weight: 600;
}
@media (max-width: 576px) {
    html {
        font-size: 62.5%;
    }
    .block{
        margin:0;
        padding:1rem;
        width:fit-content;
    }
    td{
       width:15rem;
       overflow:hidden;
       padding:1.5rem 0 1.5rem 0;
    }
     input[type="text"], input[type="number"], input[type="password"] {
        width: 17rem;
    }
     textarea{
         width:18rem;
     }

}
