/*light*/
@media (prefers-color-scheme: light) {
    .block1 {
        box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
    }

    td {
        border-bottom: 1px solid #ddd;
    }
}
/*dark*/
@media (prefers-color-scheme: dark) {
    .block1 {
        box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.25);
    }

    table {
        color: white;
    }

    td {
        border-bottom: 1px solid rgba(237, 237, 237, 0.5);
    }

    input[type="text"] {
        background-color: #181818;
        color: white;
    }

    textarea {
        background-color: #181818;
        color: white;
    }
}
/*Design*/
.block1 {
    left: inherit;
    margin: 10px;
    padding: 10px;
    width: 700px;
    border-radius: 10px;
}

table
{
    text-align:center;
}
td 
{   font-size:20px;
    width:200px;
  padding: 15px;
  text-align: left;

}
table span {
    font-size: 15px;
    color:red;
}
input[type="text"] {
    border: 1px solid Red;
    border-radius: 5px;
    padding: 5px;
    font: 15px/24px 'Muli', sans-serif;
    width: 300px;
    letter-spacing: 1px;
      
}
textarea {
    border: 1px solid Red;
    border-radius: 5px;
    padding: 5px;
    font: 15px/24px 'Muli', sans-serif;
    height: 150px;
    width: 315px;
    box-sizing: border-box;
    letter-spacing: 1px;
    resize: none;
      
}
input[type="submit"]
{
	border: none;
	outline: none;
	
	background: #ff4545;
	cursor: pointer;
	border-radius: 4px;
	font-weight: 600;
	width: 100%;
    color:white;
}
input[type="submit"]:active 
{
	opacity: 0.8;
}
    input[type="submit"]:hover {
        background: #D10000;
    }

@media (max-width: 680px) {
    .block1, .block, .d {
        margin: 0;
    }

    .block1 {
        width:fit-content;
        }



    block {
        padding: 0;
    }

    td {
        width: 15px;
        overflow: hidden;
        padding: 15px 0 15px 0;
    }

    input[type="text"], input[type="number"], input[type="password"] {
        width: 47vw;
    }

    textarea {
        width: 49vw;
    }
}