/*light*/
@media (prefers-color-scheme: light) {
	.block {
		box-shadow: .0rem .0rem .2rem rgba(0, 0, 0, 0.25);
	}
	table {
		border: .1rem solid black;
	}
	th {
		background: red;
	}
	}
/*dark*/
@media (prefers-color-scheme: dark) {
	.block {
		box-shadow: .0rem .0rem .2rem rgba(255, 255, 255, 0.25);
	}

	table {
		border: .1rem solid rgba(150, 150, 150);
		color: white;
	}
	th {
		background:#800000;
	}
		input [type="text"] {
		background-color: #181818;
		color: white;
	}

	textarea {
		background-color: #181818;
		color: white;
	}
}
/*Design*/
table
{
    text-align:center;
    
}
td 
{  font-size:2.0rem;
  padding: 1.5rem;
  text-align: left;
  border-right:.1rem;
  
   
}
th 
{ 
    color:White;
    font-size:2.0rem;
  padding: 1.5rem;
  text-align: left;
  border-right:.1rem;
}
	th > a {
		color:white;
		text-decoration: none;
		display: inline-block;
		list-style: none;
	}
input[type="submit"]
{
    color:white;
	border: none;
	outline: none;
	padding: 1.1rem 2.5rem;
	background: #ff4545;
	cursor: pointer;
	border-radius: .4rem;
	font-weight: 600;
	width: 10.0rem;
}
input[type="submit"]:active 
{
	opacity: 0.8;
}
	input[type="submit"]:hover {
		background: #D10000;
	}