/*light*/
@media (prefers-color-scheme: light) {
	.block {
		box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
	}
	table {
		border: 1px solid black;
	}
	th {
		background: red;
	}
	}
/*dark*/
@media (prefers-color-scheme: dark) {
	.block {
		box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.25);
	}

	table {
		border: 1px solid rgba(150, 150, 150);
		color: white;
	}
	th {
		background:#800000;
	}
		input [type="text"] {
		background-color: #181818;
		color: white;
	}

	textarea {
		background-color: #181818;
		color: white;
	}
}
/*Design*/
table
{
    text-align:center;
    
}
td 
{  font-size:20px;
  padding: 15px;
  text-align: left;
  border-right:1px;
  
   
}
th 
{ 
    color:White;
    font-size:20px;
  padding: 15px;
  text-align: left;
  border-right:1px;
}
input[type="submit"]
{
    color:white;
	border: none;
	outline: none;
	padding: 11px 25px;
	background: #ff4545;
	cursor: pointer;
	border-radius: 4px;
	font-weight: 600;
	width: 100px;
}
input[type="submit"]:active 
{
	opacity: 0.8;
}