@media (prefers-color-scheme: light) {
    .block {
        box-shadow: 0rem 0rem .2rem rgba(0, 0, 0, 0.25);
    }
    input[type="submit"] {
        background: #ff4545;
        color:black;
    }
}
    /*Dark*/
@media (prefers-color-scheme: dark) {
    .block {
        box-shadow: 0rem 0rem .2rem rgba(255, 255, 255, 0.25);
    }
    body{
        color:white;
    }
    #ContentPlaceHolder1_DropDownList1 {
        background:#181818;
        color:white;
    }
    input[type="submit"] {
        background: #ff4545;
        color: white;
    }
    }
.block {
    align-content: center;
    font-size: 1.5rem;
    margin: 1.0rem;
    padding: 1.0rem;
    width: 97.8%;
    border-radius: 1.0rem;
}
#ContentPlaceHolder1_ListView1_itemPlaceholderContainer {
    margin: 1rem;
    padding: 0.5rem;
    font-size: 2rem;    
}
input[type="submit"] {
    border: solid 0.1rem grey;
    outline: none;
    padding: 1rem 1rem;
    background: #ff9400;
    color: white;
    cursor: pointer;
    border-radius: .4rem;
    font-weight: 600;
    width: 10rem;
}
    input[type="submit"]:disabled {
        opacity: 0.4;
        cursor:no-drop;
    }
    input[type="submit"]:active {
        opacity: 0.8;
    }

    input[type="submit"]:hover {
        background: #ff7d00;
    }
.button{
    padding:0.5rem;
}
.button input[type="submit"] {
    border: none;
    outline: none;
    padding: 1rem 1rem;
    background: #ff4545;
    cursor: pointer;
    border-radius: .4rem;
    font-weight: 600;
    width: 15rem;
}
  .button  input[type="submit"]:hover {
        background: #D10000;
    }
#ContentPlaceHolder1_DropDownList1 {
    width:15rem;
    padding: 0.8rem 1rem;
    border:solid 0.1rem red;
    border-radius:.4rem;
}
